<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create Post</h1>
    <div class="form-control">
        <label for="title">* Title</label>
        <input type="text" id="title" formControlName="title">
        <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
            <small *ngIf="form.get('title').errors.required">title required</small>
        </div>
    </div>

    <div class="form-control">
        <label for="title">* Title</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <div class="form-control">
        <label for="author">* Author</label>
        <input type="text" id="author" formControlName="author">
        <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
            <small *ngIf="form.get('author').errors.required">author required</small>
        </div>
    </div>

    <button type="submit" class="btn btn-block" [disabled]="form.invalid">
        Create
    </button>
</form>